/* =================navbar=============== */
.main-color {
  background-color: #1e202b;
}
.navbar {
  background-color: #1e202b;
}
.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.766);
}
.fs-10 {
  font-size: 10px;
}
.nav-link {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  padding: 3px 20px !important;
}
.active {
  border-radius: 20px;
  border-color: #009ad8;
  color: #009ad8 !important;
}
li {
  margin-left: 12px;
}
.nav-link:hover {
  border-color: #009ad8;
  border-radius: 20px;
  color: #009ad8 !important;
}
/* ==================Home===================== */
.home {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-color: #1e202b;
}
.form-control:focus {
  --bs-body-bg: #1e202b;
  --bs-body-color: white;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}
.input button {
  top: 5px;
  right: 7px;
  bottom: 5px;
  --bs-btn-bg: #009ad8;
  border: none;
  padding-left: 35px !important;
  padding-right: 35px !important;
}
::placeholder {
  color: #7a7a7a !important;
}
.home .item {
  background-color: #323544;
}
.home .item2 {
  background-color: #262936;
}
.item .head {
  background-color: #2d303d;
  display: flex;
  justify-content: space-between;
  color: #7a7a7a;
}
.item span {
  color: #7a7a7a;
}
.status h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 135px;
  font-family: sans-serif;
}
/* ==================fotter============= */
.fotter {
  background-color: #262936;
}
.fotter-icons i {
  padding: 10px;
  background-color: #1e202b;
  margin-bottom: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.fotter-icons i:hover {
  color: white;
  background-color: #009ad8;
}
.fotter p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: rgb(191, 193, 200);
  font-family: sans-serif;
  margin-bottom: 0;
}
